# Dependencias
node_modules/

# Next.js
.next/
out/

# Logs / coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/

# Backend database files
*.db

# Python cache
__pycache__/
*.pyc

# Env y config locales
.env*
!.env.example
.vercel/
.DS_Store

# IDEs
.idea/
